<div class="card mb-4 shadow-sm form-simulation-contagion-block">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">
      Groups
    </h4>
  </div>
  <div class="card-body">
    <span ng-class="{'is-invalid': gnc.data.settings.errors.groups}" />
    <div class="invalid-feedback" ng-repeat="error in gnc.data.settings.errors.groups">
      {{error}}
    </div>
    <ul class="list-group mt-3 mb-4">
      <li class="list-group-item" ng-repeat="group in gnc.data.settings.groups">
        <%= form.input(:name, placeholder: "Name", model: 'group') %>
        <button ng-click="gnc.removeGroup($index)"
                type"submit"
                class="btn btn-secondary">
          -
        </button>
      </li>
    </ul>
    <button ng-click="gnc.addGroup()"
            type"submit"
            class="btn btn-secondary">
      +
    </button>
  </div>
</div>

