<div class="card-deck mb-12 col-lg-12 col-12">
  <%= render partial: 'base', locals: { form: form } %>
  <%= render partial: 'contagion_groups_form', locals: { form: form } %>
  <%= render partial: 'contagion_behaviors_form', locals: { form: form } %>
</div>
