<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <%= render partial: 'base', locals: { form: form } %>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <%= render partial: 'contagion_behaviors_form', locals: { form: form } %>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <%= render partial: 'contagion_groups_form', locals: { form: form } %>
  </div>
</div>
