<div class="row mb-3">
  <div class="col-12">
    <form class="form-inline">
      <div class="form-group mr-3">
        <label for="filter_name" class="sr-only">Name</label>
        <input type="text"
               class="form-control"
               id="filter_name"
               name="filter[name]"
               placeholder="Filter by name">
      </div>

      <div class="form-group mr-3">
        <label for="filter_tag_name" class="sr-only">Tag</label>
        <input type="text"
               class="form-control"
               id="filter_tag_name"
               name="filter[tag_name]"
               placeholder="Filter by tag">
      </div>

      <button type="submit" class="btn btn-primary">
        <i class="fas fa-filter"></i>
        Filter
      </button>
    </form>
  </div>
</div>
