<div class="row mb-3" ng-controller="Simulation.FilterController as filter">
  <div class="col-12">
    <form class="form-inline">
      <% magicka_form('filter') do |form| %>
        <%= form.input(:'filters.name', placeholder: "Simulation name", label: 'Name') %>
        <%= form.tags(:tags) %>

        <button type="submit" class="btn btn-primary">
          <i class="fas fa-filter"></i>
          Filter
        </button>
        <% end %>
    </form>
  </div>
</div>