<div class="card-deck mb-3">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        Simulations
      </h4>
    </div>
    <div class="card-body">
      <%= render partial: 'index_filters' %>
      <%= render partial: 'index_table' %>

      <%= magicka_display('gnc') do |display|
        display.pagination('pagination',
          path_method: :simulations
        )
      end %>

    </div>
  </div>
</div>
