<div class="card-deck mb-3 col-lg-6 col-12">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        New Simulation
      </h4>
    </div>
    <div class="card-body">
      <form class="form-horizontal form-simulation-{{gnc.data.algorithm}}">
        <%= bootstrap_input('gnc.data', :name, placeholder: "Simulation name") %>
        <%= bootstrap_select('gnc.data', :algorithm, options: Simulation::ALGORITHMS ) %>
        <%= render partial: 'contagion_form' %>
        <div class="form-group row">
          <div class="offset-2 col-10">
            <button ng-click="gnc.save()"
                    ng-disabled="gnc.ongoing"
                    type"submit"
                    class="btn btn-primary">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
