<div class="form-simulation-{{gnc.data.algorithm}}">
  <% magicka_display('gnc.data') do |display| %>
    <%= render partial: 'form', locals: { form: display } %>
  <% end %>
  <%= render partial: 'processing' %>
</div>
